body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calendar-container {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.date-picker-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-list-container, .days-with-events-container {
    margin-top: 20px;
}

#events-list, #days-with-events-list {
    list-style-type: none;
    padding: 0;
}

.event-item, .day-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.event-text {
    font-size: 16px;
    flex-grow: 1; 
}

.delete-event-button {
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-event-button:hover {
    background: #c0392b;
}

.add-event-container {
    display: flex;
    margin-top: 20px;
}

.event-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.add-event-button {
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.add-event-button:hover {
    background: #27ae60;
}

.event-complete-checkbox {
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0; 
}
